<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type Name</th>
            <th>Annual Percent</th>
            <th></th>
        </tr>
    </thead>
    <tr *ngFor="let rate of rates">
        <td>{{ rate.rate_id }}</td>
        <td>{{ rate.rate_name }}</td>
        <td>{{ rate.rate_type_name }}</td>
        <td>{{ rate.annual_percent }}</td>
        <td><button type="button" class="btn btn-primary" (click)="editRate(rate.rate_id)">Edit</button></td>
    </tr>
</table>
Number of Customers: {{ rates?.length }}
<br />